// use imposed colors and font
$primary-color: #15c5bd;
$secondary-color: #303030;
$font-stack: Bellota, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;

@font-face {
  font-family: "bellota";
  src: url("../font/Bellota-Regular-webfont.woff"),
    url("Bellota-Bold-webfont.woff"), url("Bellota-Italic-webfont.woff");
}

// import materialize
@import "./materialize/materialize.scss";

// custom style
html {
  font-family: bellota;
}

// header content

header {
  section {
    text-align: center;
  }
  .sidenav {
    background-color: $secondary-color;
    text-align: center;
    a {
      color: white;
      transition: color;
      transition-duration: 0.5s;
      &:hover {
        color: $primary-color;
      }
    }
  }
  section {
    height: 100vh;
    background-image: url("../img/bgheader.jpg");
    background-size: cover;
  }
}
// main content

main {
  h2 {
    text-align: center;
  }
  .product {
    height: 110vh;

    .cardproduct {
      margin: auto;
    }
    .card {
      &:hover {
        opacity: 0.8;
      }
      .card-title {
        font-size: 20px;
      }
    }
  }
  .parallax-container {
    height: 70vh;
    h2 {
      color: white;
    }
  }
}
// Footer

.page-footer {
  margin-top: 50px;
  img {
    margin: auto;
    width: 40px;
    height: 40px;
  }
  .flex-footer {
    display: flex;
    justify-content: left;
    margin-top: 30px;
    a {
      padding: 10px;
    }
  }
  .footer-copyright {
    background-color: $secondary-color !important;
  }
}
