// use imposed colors and font
$primary-color: #15c5bd;
$secondary-color: #303030;
$font-stack: Bellota, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;

@font-face {
  font-family: "bellota";
  src: url("../font/Bellota-Regular-webfont.woff"),
    url("Bellota-Bold-webfont.woff"), url("Bellota-Italic-webfont.woff");
}

// import materialize
@import "./materialize/materialize.scss";

// custom style
html {
  font-family: bellota;
 

}

// header content 

header{
  section{
    text-align: center;
  }
  .sidenav{
    background-color: $secondary-color;
    text-align: center;
  a{
    color: white;
    transition: color;
    transition-duration: .5s;
    &:hover{
      color: $primary-color;
    }
  }
}
 section{
   height: 100vh;
   background-image: url("../img/bgheader.jpg");
   background-size: cover;
  }
}
// main content
  
main {
  
  h2 {
    text-align: center;
  }
  section{
    height: 100vh;
    width: 100%;
   .cardproduct{
     margin-left: 15vw;
   }
    .card {
      margin: 15px;
     height: 300px; 
     width:400px;

      &:hover{
        transform: scale(1.1);
        opacity: .8;
        
      }
      .card-title{
        font-size: 20px;
        
      }
    }
  }

}

